@model IEnumerable<MoviesEntity>

@{
    ViewBag.Title = "Movies";
    Layout = "_Layout";
}

<h2>Movies</h2>

<div class="container">
  <div class="row">
    <div class="col">
      Movie
    </div>
  </div>
  @foreach (var forecast in this.Model)
  {
    <div class="row">
      <div class="col">
        @Html.ActionLink(forecast.Name, "Details", forecast)
      </div>
    </div>
  }
</div>